/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  border-image: linear-gradient(to left, white, #ccc 25%, #ccc 75%, white 100%);
  background-color: #f1f1f1;
  background-image: linear-gradient(to left, white, #f1f1f1 25%, #f1f1f1 75%, white 100%);
  left:50%;
}

.newroman {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.huge {
  font-family: 'Redressed', cursive;
  font-size: 100px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

a:hover {
  color: blue;
}

a:active {
  color: lightblue;
}

.w3-car {
  width: 100%;
  background-size: contain;
}
